@model EntityFramework.Models.Nastavnik

<h4>Nastavnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImeNastavnik" class="control-label"></label>
                <input asp-for="ImeNastavnik" class="form-control" />
                <span asp-validation-for="ImeNastavnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrezNastavnik" class="control-label"></label>
                <input asp-for="PrezNastavnik" class="form-control" />
                <span asp-validation-for="PrezNastavnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Prijava" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

