@page
@model IndexModel
@{
    ViewData["Title"] = "Prvamoja stranica";
    var pozdrav = "Heloo";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <h3> Kad nekoga sretnem kazem @pozdrav</h3>
        <hr />
        <a href="~/prvastranica.html" class="page-link">Prva static stranica</a>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
