@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Predlozak ukljucuje modele, controller i vieweve koji se mogu modificirati
   <br /> pa nema potrebe za overwrite metodama kod kreiranja identitya
    <a href="https://github.com/TanvirArjel/AspNetCoreMvcIdentity">Identity predlozak za kopirati u MVC projekte</a></p>
</div>
