@model SessionTest.Models.Voce

@{
    ViewData["Title"] = "UnosVoca";
}

<h1>UnosVoca</h1>

<h4>Voce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnosVoca">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
