
@{
    ViewData["Title"] = "prvi";
}

    <h1>@DateTime.Now </h1>

    <style>

        h1 {
            color: darkred;
            text-align: center;
            font-family: verdana;
            border-style: outset;

        }

    </style>